In [2]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('crashes.csv')
df.info()

C:\Users\drebi\AppData\Local\Temp\ipykernel_166888\3405702770.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('crashes.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2076488 entries, 0 to 2076487
Data columns (total 29 columns):
 #   Column                         Dtype
---  ------                         -----
 0   CRASH DATE                     object
 1   CRASH TIME                     object
 2   BOROUGH                        object
 3   ZIP CODE                       object
 4   LATITUDE                       float64
 5   LONGITUDE                      float64
 6   LOCATION                       object
 7   ON STREET NAME                 object
 8   CROSS STREET NAME              object
 9   OFF STREET NAME                object
 10  NUMBER OF PERSONS INJURED      float64
 11  NUMBER OF PERSONS KILLED       float64
 12  NUMBER OF PEDESTRIANS INJURED  int64
 13  NUMBER OF PEDESTRIANS KILLED   int64
 14  NUMBER OF CYCLIST INJURED      int64
 15  NUMBER OF CYCLIST KILLED       int64
 16  NUMBER OF MOTORIST INJURED     int64
 17  NUMBER OF MOTORIST KILLED      int64
 18  CONTRIBUTING FACTOR VEHICLE 1  object
 19  CONTRIBUTING FACTOR VEHICLE 2  object
 20  CONTRIBUTING FACTOR VEHICLE 3  object
 21  CONTRIBUTING FACTOR VEHICLE 4  object
 22  CONTRIBUTING FACTOR VEHICLE 5  object
 23  COLLISION_ID                   int64
 24  VEHICLE TYPE CODE 1            object
 25  VEHICLE TYPE CODE 2            object
 26  VEHICLE TYPE CODE 3            object
 27  VEHICLE TYPE CODE 4            object
 28  VEHICLE TYPE CODE 5            object
dtypes: float64(4), int64(7), object(18)
memory usage: 459.4+ MB

In [3]:
## Let's get only rows with cyclist involved
##all accidents involving bikes, anything above 0

df = df[(df['NUMBER OF CYCLIST INJURED'] > 0) | (df['NUMBER OF CYCLIST KILLED'] > 0)]

df = df.reset_index(drop=True) # drop index and create dataframe

In [4]:
df.info() # 72 data point, and some missing data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55228 entries, 0 to 55227
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   CRASH DATE                     55228 non-null  object
 1   CRASH TIME                     55228 non-null  object
 2   BOROUGH                        42807 non-null  object
 3   ZIP CODE                       42805 non-null  object
 4   LATITUDE                       51343 non-null  float64
 5   LONGITUDE                      51343 non-null  float64
 6   LOCATION                       51343 non-null  object
 7   ON STREET NAME                 46507 non-null  object
 8   CROSS STREET NAME              38709 non-null  object
 9   OFF STREET NAME                8652 non-null   object
 10  NUMBER OF PERSONS INJURED      55226 non-null  float64
 11  NUMBER OF PERSONS KILLED       55227 non-null  float64
 12  NUMBER OF PEDESTRIANS INJURED  55228 non-null  int64
 13  NUMBER OF PEDESTRIANS KILLED   55228 non-null  int64
 14  NUMBER OF CYCLIST INJURED      55228 non-null  int64
 15  NUMBER OF CYCLIST KILLED       55228 non-null  int64
 16  NUMBER OF MOTORIST INJURED     55228 non-null  int64
 17  NUMBER OF MOTORIST KILLED      55228 non-null  int64
 18  CONTRIBUTING FACTOR VEHICLE 1  55210 non-null  object
 19  CONTRIBUTING FACTOR VEHICLE 2  51254 non-null  object
 20  CONTRIBUTING FACTOR VEHICLE 3  1241 non-null   object
 21  CONTRIBUTING FACTOR VEHICLE 4  136 non-null    object
 22  CONTRIBUTING FACTOR VEHICLE 5  45 non-null     object
 23  COLLISION_ID                   55228 non-null  int64
 24  VEHICLE TYPE CODE 1            55208 non-null  object
 25  VEHICLE TYPE CODE 2            49622 non-null  object
 26  VEHICLE TYPE CODE 3            1213 non-null   object
 27  VEHICLE TYPE CODE 4            133 non-null    object
 28  VEHICLE TYPE CODE 5            47 non-null     object
dtypes: float64(4), int64(7), object(18)
memory usage: 12.2+ MB

In [5]:
df = df[df['VEHICLE TYPE CODE 2'].notna()]
df = df[df['LOCATION'].notna()] # if no location, then drop it

In [ ]:
# clean up column titles for easier accessiblity

df.columns = [x.lower() for x in df.columns]  #lower case columns
df.columns = [x.]